body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.head {
  justify-content: center;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

main {
  padding: 1rem;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.5rem;
}

.bloger {
  color: aqua;
}